@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*scroll space and mail content width fix */

.gb_ib {
    background: none;
}

div.nH.age.apP.aZ6.apk.nn {
    width: auto;
}

td .nH {
    margin-right: 0;
}

/*end
*/

* {
    font-family: "Roboto",sans-serif;
}

#gbqfw button {
    display: visible;
}

#gbx3 {
    display: none;
    margin-top: -20px;
}

div.Zs {
    display: none;
}

div.nH.age.apN.lKgBkb {
    overflow-x: hidden;
}

div.nH.if {
    min-width: 710px;
    overflow-x: hidden;
}

span.Di {
    display: none;
}

td.Bu.y3 {
    display: none;
}

.aim {
    background: #e5e5e5;
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 16px;
}

.aj3 {
    background: #e5e5e5;
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 16px;
}

.aic {
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 0px;
}

.z0 .T-I {
    width: 90% ;
    margin: 0px 5px ;
}

.M3aZbb {
    margin: 13px;
}

.pt {
    padding-top: 7px;
    padding-right: 7px;
    width: auto;
}

.lKgBkb::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.nH.age.apP.lKgBkb.apk {
    width: auto;
}

.aeO {
    display: none;
}

.apP {
    border-left: 1px solid lightgray;
}

div.aKm {
    border-left-width: 1px;
}

::-webkit-scrollbar {
    width: 0px ;
    height: 0px ;
}

