@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: "Roboto",sans-serif;
}

#gb {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    margin-top: -102px;
}

#gbqfw {
    margin-left: 600px;
    margin-top: 66px;
    position: absolute;
    width: 20px;
}

#gbqfw button {
    display: visible;
}

#gbx3 {
    display: none;
    margin-top: -20px;
}

div.Zs {
    display: none;
}

div.nH.age.apN.lKgBkb {
    overflow-x: hidden;
}

div.nH.if {
    min-width: 710px;
    overflow-x: hidden;
    width: 80% ;
}

span.Di {
    display: none;
}

td.Bu.y3 {
    display: none;
}

.aim {
    background: #e5e5e5;
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 16px;
}

.aj3 {
    background: #e5e5e5;
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 16px;
}

.aic {
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 0px;
}

.z0 .T-I {
    width: 87%;
    margin: 0px 12px;
}

.M3aZbb {
    margin: 13px;
}

.pt {
    padding-top: 7px;
    padding-right: 7px;
    width: auto;
}

.lKgBkb::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.nH.age.apP.lKgBkb.apk {
    width: auto;
}

.aeO {
    display: none;
}

